html, body {
    --blue: #06AED5;
    --light_blue: #70D4FF;
}

body {
    background-color: var(--light_blue);
}

.btnDownload {
    background-color: var(--blue);
    padding: 20px;
    border-style: hidden;
    border-radius: 10px;
    margin-left: 85%;
}
.textButton {
    font-size: 2em;
}

#tabulka * {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#tabulka .name {
    font-size: 1.5em;
}

#tabulka .lineTop {
    color:black;
}