<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../templateStatic/person.js" defer></script>
    <link rel="stylesheet" href="../templateStatic/person.css">
    <title>{{computer.uname}}</title>
</head>
<body>
    <div id="allBox">
        <button class="return"><a href="../" class="txtRet">Return</a></button>
        <div id="console" class="console">
            {%for x in list%}
            <p class="consoleP">{{x}}</p>
            {%endfor%}
        </div>
        <form method="POST" id="CommandToInput">
        <input type="text" class="cmInput" id="cmdInput" placeholder="Write your command here!" name="CommandToInput">
        <input type="submit" value="SEND">
        </form>
    </div>
</body>
</html>